// Widescreens
@include mediaXl {

}

// Desktops
@include mediaLg {
    
}

// Tablets
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
    } 

    .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
    }

    .menu {
        &-branding, &-nav {
            float: none;
            width: 100%;
            height: 50vh;
        }

        &-nav { 
            height: 75vh;
            transform: translate3d(-100%, 0,  0);
            font-size: 24px;
        }

        &-branding {
            height: 25vh;
            transform: translate3d(100%, 0, 0 );

            .portrait {
                width: 150px;
                height: 150px;
                background-size: cover;
            }
        }
        .nav-item {
            transform: translate3d(-600px, 0,  0);
        }
    }
}

// Smart Phones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }
}